</main>
<section class="flex-center">
    <a href="/businesses">Where I Shop</a>&nbsp;|&nbsp;
    <a href="/businesses/new">New Business</a>
</section>
<footer class="flex-center">
    <h6>© 2022 Brianna McCarthy</h6>

</footer>
</body>
</html>