</main>
<section class="flex-center">
    <a href="/businesses/index">Where I Shop</a>&nbsp;|&nbsp;
    <a href="/businesses/new">New Business</a>
</section>
<footer class="flex-center">CONTACT</footer>
</body>
</html>