<%- include('../partials/header')%>
<main id="index">
<div class="post">POST 1
    <div>Amount:</div>
    <div>Business:</div>
    <div>Notes:</div>
    <div>Recommend:</div>
</div>
<div class="post">POST 2
    <div>Amount:</div>
    <div>Business:</div>
    <div>Notes:</div>
    <div>Recommend:</div>
</div>
<div class="post">POST 3
    <div>Amount:</div>
    <div>Business:</div>
    <div>Notes:</div>
    <div>Recommend:</div>
</div>
<div class="post">POST 1
    <div>Amount:</div>
    <div>Business:</div>
    <div>Notes:</div>
    <div>Recommend:</div>
</div>
<div class="post">POST 2
    <div>Amount:</div>
    <div>Business:</div>
    <div>Notes:</div>
    <div>Recommend:</div>
</div>
<div class="post">POST 3
    <div>Amount:</div>
    <div>Business:</div>
    <div>Notes:</div>
    <div>Recommend:</div>
</div>
<div class="post">POST 1
    <div>Amount:</div>
    <div>Business:</div>
    <div>Notes:</div>
    <div>Recommend:</div>
</div>
<div class="post">POST 2
    <div>Amount:</div>
    <div>Business:</div>
    <div>Notes:</div>
    <div>Recommend:</div>
</div>
<div class="post">POST 3
    <div>Amount:</div>
    <div>Business:</div>
    <div>Notes:</div>
    <div>Recommend:</div>
</div>
<%- include('../partials/footer')%>