<%- include('../partials/header')%>
<main>
<form class="flex-center"action="/purchases" method="POST">
    <h1>Enter a New Purchase</h1>
    <label>Notes
        <input type="text" placeholder="What did you buy?" name="notes">
    </label>&nbsp;&nbsp;
    <label>Amount Spent
        <input type="number" placeholder="$0.00" name="amount">
    </label>&nbsp;&nbsp;
    <label>Recommend to Others
        <input type="checkbox" name="recommend">
    </label>&nbsp;&nbsp;
    <!-- <label>Business
        <input type="text" name="business">
    </label>&nbsp;&nbsp; -->
    <label>
        <input type="submit" value="POST" >
    </label>&nbsp;&nbsp;
</form>

<%- include('../partials/footer')%>