:root {
  --a: #ddd4cfe6;
  --b: #79a3cbe6;
  --c: #EBBEA0e6;
  --d: #FFC857e6;
  --e: #BEBAAFe6;
  --f: #96BCDFe6;
  --g: #9CAA73e6;
}

body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:  #353942;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75px auto 100px 75px;
  grid-template-areas: 
  "nav"
  "main"
  "sct"
  "ftr";
  margin: 0
}

a {
  color: #DACCC3;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login img {
  height: 30px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
#avatar {
  border-radius: 50%;
}

nav {
  grid-area: "nav";
  background-color: #D79A6F;
  padding: 2%;
  font-size: auto;
  margin: 0;
}

.active {
  width: 0%;
  visibility: hidden;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-left: auto;
}

a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5%;
}

a:hover {
  text-decoration: underline;
  color: #4C4B50;
}

main {
  grid-area: "main";
  background-image: url("../images/landing01.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main > img {
  max-width: 100%;
}

#new-form {
  background-image: none;
  background-color: #DACCC3;
}

section {
  grid-area: "sect";
  background-color: #4f587a;
  color: #353942;
}

footer {
  grid-area: "ftr";
  background-color: #D79A6F;
}

form {
  width: max-content;
  border: 0.5vmin solid rgba(226, 161, 161, 0.499);
  background-color: white;
  margin: 3% auto;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10% 10%;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
}

form > * {
  height: min-content;
  margin: 3vmin;
}

#business-name {
  font-family: 'Libre Barcode 39 Text', cursive;;
  font-size: xx-large;
}

#index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1em;
}

.post {
  width: 1fr;
  height: max-content;
  background-color: var(--a);
  color:#4C4B50;
  word-wrap: normal;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5vmin solid var(--g);
  border-radius: 5em 5em;
  font-size: 70%;
}

.post > a {
  padding: 0;
  color: var(--g);
  padding: 2%;
}

.post:not(#heading):hover{
  border-color: var(--c);
}

#delete {
  width: max-content;
  border: 0.5vmin solid rgba(226, 161, 161, 0.499);
  background-color: rgb(185, 113, 113);
  margin: 0 auto;
  opacity: 1;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
}

#all-posts-container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
gap: 1em;
}

#heading {
color: var(--a);
background-color: #353942eb;
height: 80%;
font-size: 100%;
border-radius: 2% 2%;
}

#all-posts-container > * {
  padding: 0;
  margin: 10px;
}


@media only screen and (min-width: 768px) {
  main {
    background-position: right;
  }

  #index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em 1em;
  }

  .post {
    height: min-content;
    margin: 20px;
  }

  #all-posts-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
    }
} 