<%- include('../partials/header') %>

<main id="index">
    <% businesses.forEach(function(b){ %>
        <div class="post">
            <div> <%= b.name %> </div>
            <a href="/businesses/<%=b._id%>"> LOCATION </a>
        </div>
        <% }) %>
</main>
<%- include('../partials/footer') %>